

.cortarText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
}

footer{
    background-color: #394D3D;
}

@media all and (max-width: 575.99px){
    .cortarText{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 150px;
    }
}

@media all and (min-width: 576px) and (max-width: 768px){
    .cortarText{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
    }
}